<p id="notice"><%= notice %></p>

<h1 class="page-header">Pacientes</h1>
<h2 class="sub-header">Detalle</h2>
<p>
  <strong>Nombre:</strong>
  <%= @patient.persona.first_name %> <%= @patient.persona.second_name%>
  <%= @patient.persona.last_name %>
</p>
<p>
  <strong>Fecha Nacimiento</strong>
  <%= @patient.persona.dob %>
</p>
<p>
  <strong>Direccion</strong>
  <%= @patient.persona.location.address %> ,
  <%= @patient.persona.location.city %>,
  <%= @patient.persona.location.country %>
</p>

<p>
  <strong>Person:</strong>
  <%= @patient.id %>
</p>


<%= link_to 'Ver Ficha',  patient_fichas_path(@patient) %>
<%= link_to 'Editar', edit_patient_path(@patient) %> |
<%= link_to 'Volver', patients_path %>

<select class="metricas" name="metrica">
  <%= @metricas.each do |m| %>
    <option value='<%= m.id %>'><%= m.nombre %></option>
  <% end %>
</select>


 <%= line_chart  Metrica.generate_graph(params[:id],2), discrete: true  %>
